body{
    background-color: whitesmoke;
}

.profilefield:valid{
    border: 1px solid rgb(7, 230, 7);
}

.profilefield:invalid{
    border: 1px solid rgb(240, 56, 56);
}

#submitButton{
    display: block;
}

#updateButton{
    display: none;
}

#removeButton{
    display: none;
}

#googleSignIn{
    
}

